body {
    background-color: cornflowerblue;
}
  
a {
    border: 2px, solid, black;
}
  
ul {
    display: block;
    list-style-type: none;
    margin: 5;
    padding: 0;
    overflow: hidden;
    background-color: cornflowerblue;
    border-style: solid;
}
  
li {
    float: left;
}
  
li a {
    display: table;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
li a:hover{
    background-color: #111111;
    color: white;
    text-decoration: none;
}
  
li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: rgb(10, 236, 17);
}

.container {
    position: relative;
}

.center {
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    background-color: white;
}