<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>

<body>
  <ul id="fixed-header">
    <li><a href="">MEDICARE</a></li>
    <li style="float: right;"><a href="login">LogIn</a></li>
    <li style="float: right;"><a href="signup">SignUp</a></li>
    <li style="float: right;"><a href="index">Home</a></li>
  </ul>


  <p>The MediCare application is intended to provide complete solutions for Doctors and Patients.
    When a patient goes to doctor then he do not have to carry all files and medicines. By using this
    application doctor can see all the record of patient. If doctor give any medicine or report then it will
    directly goes to medical store or laboratory specified by the doctor. The main purpose behind this
    application to provide a beneficial service to doctor and patient both. With the help of this application
    patient gets a complete solution of their diseases. With the help of previous record doctor will give
    the better consultancy to the patients. And, patients can not faces the trouble for it. Patients see their
    previous records about the treatments and diseases.
  </p>
  <p>The MediCare application is intended to provide complete solutions for Doctors and Patients.
    When a patient goes to doctor then he do not have to carry all files and medicines. By using this
    application doctor can see all the record of patient. If doctor give any medicine or report then it will
    directly goes to medical store or laboratory specified by the doctor. The main purpose behind this
    application to provide a beneficial service to doctor and patient both. With the help of this application
    patient gets a complete solution of their diseases. With the help of previous record doctor will give
    the better consultancy to the patients. And, patients can not faces the trouble for it. Patients see their
    previous records about the treatments and diseases.
  </p>
  <p>The MediCare application is intended to provide complete solutions for Doctors and Patients.
    When a patient goes to doctor then he do not have to carry all files and medicines. By using this
    application doctor can see all the record of patient. If doctor give any medicine or report then it will
    directly goes to medical store or laboratory specified by the doctor. The main purpose behind this
    application to provide a beneficial service to doctor and patient both. With the help of this application
    patient gets a complete solution of their diseases. With the help of previous record doctor will give
    the better consultancy to the patients. And, patients can not faces the trouble for it. Patients see their
    previous records about the treatments and diseases.
  </p>
  <p>The MediCare application is intended to provide complete solutions for Doctors and Patients.
    When a patient goes to doctor then he do not have to carry all files and medicines. By using this
    application doctor can see all the record of patient. If doctor give any medicine or report then it will
    directly goes to medical store or laboratory specified by the doctor. The main purpose behind this
    application to provide a beneficial service to doctor and patient both. With the help of this application
    patient gets a complete solution of their diseases. With the help of previous record doctor will give
    the better consultancy to the patients. And, patients can not faces the trouble for it. Patients see their
    previous records about the treatments and diseases.
  </p>
  <p>The MediCare application is intended to provide complete solutions for Doctors and Patients.
    When a patient goes to doctor then he do not have to carry all files and medicines. By using this
    application doctor can see all the record of patient. If doctor give any medicine or report then it will
    directly goes to medical store or laboratory specified by the doctor. The main purpose behind this
    application to provide a beneficial service to doctor and patient both. With the help of this application
    patient gets a complete solution of their diseases. With the help of previous record doctor will give
    the better consultancy to the patients. And, patients can not faces the trouble for it. Patients see their
    previous records about the treatments and diseases.
  </p>
  <p>The MediCare application is intended to provide complete solutions for Doctors and Patients.
    When a patient goes to doctor then he do not have to carry all files and medicines. By using this
    application doctor can see all the record of patient. If doctor give any medicine or report then it will
    directly goes to medical store or laboratory specified by the doctor. The main purpose behind this
    application to provide a beneficial service to doctor and patient both. With the help of this application
    patient gets a complete solution of their diseases. With the help of previous record doctor will give
    the better consultancy to the patients. And, patients can not faces the trouble for it. Patients see their
    previous records about the treatments and diseases.
  </p>
  <p>The MediCare application is intended to provide complete solutions for Doctors and Patients.
    When a patient goes to doctor then he do not have to carry all files and medicines. By using this
    application doctor can see all the record of patient. If doctor give any medicine or report then it will
    directly goes to medical store or laboratory specified by the doctor. The main purpose behind this
    application to provide a beneficial service to doctor and patient both. With the help of this application
    patient gets a complete solution of their diseases. With the help of previous record doctor will give
    the better consultancy to the patients. And, patients can not faces the trouble for it. Patients see their
    previous records about the treatments and diseases.
  </p>
  <p>The MediCare application is intended to provide complete solutions for Doctors and Patients.
    When a patient goes to doctor then he do not have to carry all files and medicines. By using this
    application doctor can see all the record of patient. If doctor give any medicine or report then it will
    directly goes to medical store or laboratory specified by the doctor. The main purpose behind this
    application to provide a beneficial service to doctor and patient both. With the help of this application
    patient gets a complete solution of their diseases. With the help of previous record doctor will give
    the better consultancy to the patients. And, patients can not faces the trouble for it. Patients see their
    previous records about the treatments and diseases.
  </p>
  <p>The MediCare application is intended to provide complete solutions for Doctors and Patients.
    When a patient goes to doctor then he do not have to carry all files and medicines. By using this
    application doctor can see all the record of patient. If doctor give any medicine or report then it will
    directly goes to medical store or laboratory specified by the doctor. The main purpose behind this
    application to provide a beneficial service to doctor and patient both. With the help of this application
    patient gets a complete solution of their diseases. With the help of previous record doctor will give
    the better consultancy to the patients. And, patients can not faces the trouble for it. Patients see their
    previous records about the treatments and diseases.
  </p>

  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <h3>Column 1</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
      </div>
      <div class="col-sm-4">
        <h3>Column 2</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
      </div>
      <div class="col-sm-4">
        <h3>Column 3</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
      </div>
    </div>
  </div>
</body>

</html>