<!DOCTYPE html>
<html>

<head>
    <title>MediCare</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>

<body>

    <ul id="fixed-header">
        <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">Close</a>
            <a href="/">Home</a>
            <a href="/">Add Doctor</a>
            <a href="/">Add Medical Store</a>
            <a href="/">Add Laboratory</a>
        </div>
        <span style="font-size:30px;cursor:pointer" onclick="openNav()">Open</span>
        <li><a href="">MEDICARE</a></li>
        <li style="float: right;"><a href="/login">LogIn</a></li>
        <li style="float: right;"><a href="/signup">SignUp</a></li>
        <li style="float: right;"><a href="/index">Home</a></li>
    </ul>
    <ul>
        <li style="float: right;"><a href="/">Add Doctor</a></li>
        <li style="float: right;"><a href="/">Add Medical Store</a></li>
        <li style="float: right;"><a href="/">Add Laboratory</a></li>
    </ul>

    <% if (locals.message) { %>
    <h5 class="center"><%= message %> </h5>
    <% } %>
    <br>
    <button class="mdl-button">
        <div class="mdl-button__ripple"></div>
        <span class="mdl-button__label"><a style=" text-decoration: none;" href="/">Add Doctor</a></span>
    </button><br>

    <button class="mdl-button">
        <div class="mdl-button__ripple"></div>
        <span class="mdl-button__label">Add Medical Store</span>
    </button><br>

    <button class="mdl-button">
        <div class="mdl-button__ripple"></div>
        <span class="mdl-button__label">Add Laboratory</span>
    </button>
</body>

<script>
    function openNav() {
        document.getElementById("mySidenav").style.width = "250px";
    }

    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
    }
</script>

</html>