<!DOCTYPE html>
<html>

<head>
    <title>Sign Up</title>
    <link rel='stylesheet' href='/stylesheets/signup.css' />
    <!-- Material Design Lite -->
    <script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <!-- Material Design icon font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script>
        function validateForm() {
            var firstName = document.forms["signup"]["firstName"].value;
            var lastName = document.forms["signup"]["lastName"].value;
            var displayName = document.forms["signup"]["displayName"].value;
            var email = document.forms["signup"]["email"].value;
            var phoneNumber = document.forms["signup"]["phoneNumber"].value;
            var password = document.forms["signup"]["password"].value;
            var cnfpassword = document.forms["signup"]["cnfpassword"].value;
            var user_type = document.forms["signup"]["user_type"].value;

            if (isNaN(phoneNumber) || phoneNumber.length > 10 || phoneNumber.length < 10) {
                alert("Enter your Phone Number with exactly 10 digits.");
                return false;
            } else if (password != cnfpassword) {
                alert("Your password and confirm password does not match.");
                return false;
            } else if (user_type == "none") {
                alert("Please, select valid user type except none.");
                return false;
            } else {
                /*var data = {
                    "firstName": firstName,
                    "lastName": lastName,
                    "email": email,
                    "phoneNumber": phoneNumber,
                    "password": password,
                    "displayName": displayName,
                    "user_type": user_type,
                    "profileUrl": null
                };
                var jsonData = JSON.stringify(data);
                alert(jsonData);*/
                return true;
            }
        }
    </script>
</head>

<body style="background-color: cornflowerblue;">
    <ul>
        <li><a href="">MEDICARE</a></li>
        <li style="float: right;"><a href="login">LogIn</a></li>
        <li style="float: right;"><a href="signup">SignUp</a></li>
        <li style="float: right;"><a href="index">Home</a></li>
    </ul>

    <form class="center" method="POST" name="signup" onsubmit="return validateForm();" action="user/register">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" inputmode="text" id="firstName" required>
            <label class="mdl-textfield__label" for="firstName">First Name</label>
        </div><br>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" inputmode="text" id="lastName" required>
            <label class="mdl-textfield__label" for="lastName">Last Name</label>
        </div><br>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" inputmode="text" id="displayName" required>
            <label class="mdl-textfield__label" for="displayName">Nick Name</label>
        </div><br>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" inputmode="email" id="email" required>
            <label class="mdl-textfield__label" for="email">Email</label>
        </div><br>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" inputmode="text" id="phoneNumber" required>
            <label class="mdl-textfield__label" for="phoneNumber">Mobile No.</label>
        </div><br>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="password" maxlength="6" id="password" required>
            <label class="mdl-textfield__label" for="password">Password</label>
        </div><br>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="password" id="cnfpassword" required>
            <label class="mdl-textfield__label" for="cnfpassword">Confirm Password</label>
        </div><br>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" id="user_type" value="hospital" readonly>
            <label class="mdl-textfield__label" for="user_type">User Type</label>
        </div><br>
        <button class="mdl-button mdl-button__ripple">
            <input class="mdl-button__label" type="submit" id="submit">
        </button>
    </form>

</body>

</html>